<template name="asistenciaDetalle">
    <div class="page lists-show">
        {{>topNav}}
        <div id="calendar-section" class="content-scrollable list-items">
            <div class="row">
                <div class="col-xs-7" style="margin-top: 8px; margin-bottom: 8px;">
                    <h4>Planilla de Asistencia</h4>
                    <h2>{{period}}</h2>
                </div>
                {{#if imprimible }}
                <div class="col-xs-5" style="text-align: right">
                    <button id="btn-print" class="btn btn-info" style="width: 149px">
                        <span class="glyphicon glyphicon-print" style="font-size: 32px"></span>
                        <br />Imprimir<br />reporte
                    </button>
                </div>
                {{/if}}
            </div>
            {{#unless isColaborator}}
                <div class="row">
                    <div class="col-xs-7 col-sm-4 col-md-3 col-lg-2">
                        <h3><b>{{ user.profile.nombres }} {{user.profile.apellidos}}</b></h3>
                        {{#if stats.absentDays}}<h5><b>{{ stats.absentDays }}<small> Inasistencias</small></b></h5>{{/if}}
                        {{#if stats.lateDays }}<h5><b>{{ stats.lateDays }} <small> días de Retraso</small></b></h5>{{/if}}
                        {{#if stats.vacaciones}}<h5><b>{{ stats.vacaciones }}<small> días de Vacaciones</small></b></h5>{{/if}}
                        <h3><b><small>Total </small>{{stats.hhNormal}} <small> HH/mes</small></b></h3>
                    </div>
                    <div class="col-xs-5 col-md-6 col-lg-6">
                        <h4>Observación del mes</h4>
                        <div class="form-group">
                            {{#if esGerente}}
                            <textarea rows="3" class="form-control" id="textarea-observacion"
                                tipo="texto">{{observacionMes}}</textarea>
                            {{else}}
                            <textarea rows="3" class="form-control" id="textarea-observacion" tipo="texto"
                                readonly>{{observacionMes}}</textarea>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{>mensajes}}
            {{/unless}}           
            <table width="100%" style="margin-top: 7px;">
                <tr>
                    <th width="37">
                        <div class="detail-calendar-resume">
                            <p>Nº</p>
                        </div>
                    </th>
                    <th>
                        <div class="detail-calendar-resume">
                            <p>Marcaciones</p>
                        </div>
                    </th>
                    <th width="50">
                        <div class="detail-calendar-resume">
                            <p>Horas</p>
                        </div>
                    </th>
                </tr>

                {{#each calendars}}
                <tr>
                    <td>
                        <div id="{{day}}-{{month}}-{{year}}"
                            class="detail-calendar-day{{#if isHolyDay}} holyday{{/if}}{{#if isMediaJornada}} media-jornada{{/if}}">
                            <p style="{{#if isWeekend}}color:red{{/if}}">
                                <b>{{dayName}}<br />{{day}}</b>
                                {{#if nota}}
                            <div style="position: relative; right: 0px; top: -34px">
                                <img src="/img/pin.png" width="32" />
                            </div>
                            {{/if}}
                            </p>
                        </div>
                    </td>
                    {{#if isColaborator}}
                    <td>
                        <div class="detail-calendar-marcations">
                            {{#each marcasView}}
                            <span class="etiqueta-marcacion label label-{{style}} btn-ver-marcacion"
                                style="{{#if isLate}}color:#d35400{{/if}}">
                                <span class="glyphicon glyphicon-{{glyphicon}}"></span> {{time}}
                                {{#if tieneNota}}
                                <div class="marco-pin-asistencia" style="z-index: 999">
                                    <img src="/img/pin.png" width="20">
                                </div>
                                {{/if}}
                            </span>
                            {{/each}}
                        </div>
                    </td>
                    {{else}}
                    <td>
                        <div class="detail-calendar-marcations {{#if vacacion}}en-vacaciones{{/if}}{{#if licencia}}en-licencia{{/if}}">
                            {{#if esGerente}}
                            {{#unless vacacion}}
                            {{#unless licencia}}
                            <span id="{{assistId}}-{{day}}-X" class="label label-info btn-edit-marcation">
                                <span class="glyphicon glyphicon-plus"></span> Marcación
                            </span>
                            {{/unless}}
                            {{/unless}}
                            {{/if}}

                            {{#each marcasView}}
                            <span id="{{assistId}}-{{day}}-{{index}}"
                                class="etiqueta-marcacion label label-{{style}} btn-edit-marcation"
                                style="{{#if isLate}}color:#d35400{{/if}}">
                                <span class="glyphicon glyphicon-{{glyphicon}}"></span> {{time}}
                                {{#if tieneNota}}
                                <div class="marco-pin-asistencia">
                                    <img src="/img/pin.png" width="20">
                                </div>
                                {{/if}}
                            </span>
                            {{/each}}

                            {{#if esGerente}}
                            {{#if licencia}}
                            <span id="{{day}}-{{month}}-{{year}}" class="label label-primary btn-licencia">
                                <span class="glyphicon glyphicon-remove"></span> Quitar como día licencia
                            </span>
                            {{else if licenciable}}
                            {{#unless vacacion}}
                            <span id="{{day}}-{{month}}-{{year}}" class="label label-danger btn-licencia">
                                <span class="glyphicon glyphicon-heart"></span> ¿Es día de licencia?
                            </span>
                            {{/unless}}
                            {{/if}}
                            {{#if vacacionable}}
                            <span id="{{day}}-{{month}}-{{year}}" class="label label-default btn-vacacion">
                                <span class="glyphicon glyphicon-exclamation-sign"></span> ¿Es día de vacación?
                            </span>
                            {{#unless marcasView}}
                            <span id="{{day}}-{{month}}-{{year}}" class="label label-success btn-llenar-jornada">
                                <span class="glyphicon glyphicon-filter"></span> Llenar
                            </span>
                            {{/unless}}
                            {{else if vacacion}}
                            <span id="{{day}}-{{month}}-{{year}}" class="label label-warning btn-vacacion">
                                <span class="glyphicon glyphicon-remove"></span> Quitar como día vacación
                            </span>
                            {{/if}}
                            {{/if}}
                        </div>
                    </td>
                    {{/if}}
                    <td>
                        <div class="detail-calendar-resumen-horas">
                            <p style="font-size: 32px; padding-top: 0.5rem; color:{{#if hhExt50}}#f1c40f{{else}}
                 {{#if hhExt100}}#c0392b{{else}}#95a5a6{{/if}}{{/if}}">
                                <b>{{#if hhNormal}}{{hhNormal}}{{/if}}</b>
                        </p>                            
                        </div>
                    </td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="2">
                        <div class="detail-calendar-total">TOTAL</div>
                    </td>
                    <td>
                        <div class="detail-calendar-total-horas">
                            {{stats.hhNormal}}
                        </div>                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>