<template name="appBody">
  <div id="container" class="{{#unless logged}}menu-open{{/unless}} {{cordova}}">

    {{> modalSetPassword}}
    {{> modalEditValue}}
    {{> modalEditarFechaEspecial}}
    {{> modalConfirmacionEliminacion}}

    <section id="menu">
      {{#if logged}}
        {{>navigation}}
      {{/if}}
    </section>

    {{#unless connected}}
      <div class="notifications">
        <div class="notification">
          <span class="icon-sync"></span>

          <div class="meta">
            <div class="title-notification">Intentando conectar</div>
            <div class="description">Hay algunos problemas de conexión</div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>
  </div>
</template>