<template name="navigation">
  <div class="list-navigation">
    <a href="{{pathFor 'asistencias'}}" class="btn-secondary" style="text-align:left;">
      <span class="glyphicon glyphicon-book"></span> Asistencias
    </a>    
    <a href="{{pathFor 'cuentas'}}" class="btn-secondary" style="text-align:left;">
      <span class="glyphicon glyphicon-user"></span> Cuentas
    </a>    
    <a href="{{pathFor 'jornadas'}}" class="btn-secondary" style="text-align:left;">
      <span class="glyphicon glyphicon-time"></span> Feriados
    </a>    
  </div>
</template>